[2013-04-01 14:51] kellinora opened #1 "Plankton Tutorial Splits"
Split A: No headings, no progress bar, introduce Talk at end of tutorial.
Split B: No headings, no progress bar, Introduce Talk after first classification
Split C:  No headings, progress bar, introduce Talk at end of tutorial
Split D: No headings, progress bar, introduce Talk after first classification
Split E: Headings, progress bar, introduce Talk at end of tutorial,
Split F: Headings, progress

[2013-04-01 14:52] kellinora opened #2 "Tracker on Tutorial splits?"
If feasible.

[2013-05-02 16:27] kellinora opened #3 "Text Edit: Home Page"
Plankton are a critically important food source.

No plankton = No life in the ocean

Plankton also play an important role in the global carbon cycle.  This cycle captures the sun’s energy and the atmosphere’s CO2 at the surface of the ocean and releases it to other organisms and other areas of the ocean.

Understanding where and when plankton occur at different depths in the ocean allows scientis

[2013-05-02 16:41] whyte opened #4 "icons as well as photos"
plankton/#/science/species

i think if i were a volunteer i'd like to see the icons next to the photos here, so i could familiarise myself with the critters.

[2013-05-02 16:42] whyte opened #5 "Add a diagram or a photo, better still both!"
http://zooniverse-demo.s3-website-us-east-1.amazonaws.com/plankton/#/science/images

This is a lot of text! It would be great if there were a couple of images and diagrams to explain what is going on. I think people might be more likely to read some of it if it was broken down.

[2013-05-02 16:44] whyte opened #6 "About Page"
http://zooniverse-demo.s3-website-us-east-1.amazonaws.com/plankton/#/science/about

Add an example photo or two of two of the two main types of plankton.

[2013-05-02 16:46] whyte opened #7 "oraganizations"
Add the Education team to this too. Kelly should be on here.

[2013-05-02 17:54] kellinora opened #8 "Text Edit - Science Page A few words about Plankton"
A few words about plankton
Plankton comes from the Greek word planktos meaning “wanderer” or “drifter”.  As a group, plankton are an eclectic collection of organisms adrift in the oceanic waters. The classification of an organism as ‘plankton’ has nothing to do with its biological grouping,  but rather with its inability to swim actively against oceanic currents.

Plankton vary widely in size from

[2013-05-02 17:56] kellinora opened #9 "Text Edit - Science Page - How do we get these images?"
How do we get these images?

The In Situ Ichthyoplankton Imaging System (ISIIS) is one of a few systems in the world capable of improving the way we study plankton to better understand their life and function in the marine environment. ISIIS is, in some ways, a “virtual net” which captures the images of the organisms and information about their immediate surroundings.  By sampling continuously, th

[2013-05-02 18:22] kellinora opened #10 "Add an education page (content coming soon)"

[2013-05-02 21:10] #3 closed, assigned to brian-c

[2013-05-02 21:10] #8 closed, assigned to brian-c

[2013-05-02 21:11] #9 closed, assigned to brian-c

[2013-07-22 20:22] chrissnyder opened #11 "Talk bucket / deploy talk"
@parrish

[2013-07-22 20:23] chrissnyder opened #12 "Twitter"
@ttfnrob

[2013-07-22 20:25] chrissnyder opened #13 "Analytics"
@arfon

[2013-07-22 20:29] #13 closed, assigned to nobody

[2013-07-22 20:29] #10 closed, assigned to brian-c

[2013-07-22 20:31] #7 closed, assigned to nobody

[2013-07-22 20:34] #12 closed, assigned to nobody

[2013-07-22 20:34] #1 closed, assigned to brian-c

[2013-07-22 20:37] #6 closed, assigned to nobody

[2013-07-22 20:38] #4 closed, assigned to nobody

[2013-07-22 20:40] ttfnrob opened #14 "Avatar needed"

[2013-07-22 20:41] #5 closed, assigned to nobody

[2013-07-22 20:56] ttfnrob opened #15 "Create blog"

[2013-07-24 15:29] #11 closed, assigned to nobody

[2013-07-29 14:12] #14 closed, assigned to nobody

[2013-07-29 14:12] chrissnyder opened #16 "Species box on homepage does not lead to anything"
Links to `http://www.planktonportal.org/beta/#/science/species`

[2013-07-29 17:03] chrissnyder opened #17 "Production project/data"

[2013-08-05 14:43] chrissnyder opened #18 "Specimen identification box location"
Some consistent feedback from users is that the species identification box occasionally covers up the specimen being identified (and thus makes it hard to identify). Could we move it further away?

[2013-08-05 15:07] chrissnyder opened #19 "Page numbers persist from Recents to Favorite"
1. Login with a user with multiple pages of Recents
2. Goto Profile page.
3. Click Favorites

The page numbers at the bottom of the list of Recent/Favorite does not update after clicking Favorites.

[2013-08-08 20:03] #16 closed, assigned to nobody

[2013-08-08 20:03] #18 closed, assigned to nobody

[2013-08-23 16:39] #2 closed, assigned to nobody

[2013-08-23 16:42] chrissnyder opened #20 "Incorrect placement of tutorial training species icons"
As experienced by me:

![screen shot 2013-08-23 at 11 38 02 am](https://f.cloud.github.com/assets/735191/1017537/b68d7124-0c12-11e3-89d5-0c5d72c75007.png)

a volunteer:
![2hx6cde](https://f.cloud.github.com/assets/735191/1017541/d6521b86-0c12-11e3-9446-e12aece331fa.jpg)

and Jessica:
![trainingimage3](https://f.cloud.github.com/assets/735191/1017546/ed08e60c-0c12-11e3-9243-e0deec43e852.jpg)
![trai

[2013-08-23 18:19] chrissnyder opened #21 "Tutorial box stays when pressing 'finish' in ongoing tutorial."
Reported by a volunteer:

[2013-08-27 20:15] #20 closed, assigned to nobody

[2013-08-27 20:16] #21 closed, assigned to nobody

[2013-09-13 20:12] #19 closed, assigned to nobody

[2013-09-13 20:12] #15 closed, assigned to ttfnrob

[2013-09-16 16:27] kellinora opened #22 "New text for Education Page"
Text edits below.  There are a

Education

Can I use Plankton Portal in the classroom?

Of course! Plankton Portal, just like all the Zooniverse projects, offers students a unique opportunity to explore real scientific data, while making a contribution to cutting-edge research. Each image is marked by multiple volunteers, so it’s okay if students don't identify and mark all of the plankton correct

[2013-09-16 16:53] #22 closed, assigned to brian-c

[2013-09-17 16:36] mrniaboc opened #23 "CHange typo in intro"
On the 'start searching' page "the sun’s energy" should be "the Sun’s energy"

[2013-09-17 17:27] #17 closed, assigned to nobody

[2013-09-17 18:33] #23 closed, assigned to nobody

[2013-09-23 19:56] kellinora opened #24 "Website Content Update -"
Received this requested change from Jessica for the education page.  The update is to the The secret life of Plankton video description below and adding one more link).

Current: The secret life of plankton by Tierney Thys (TED Education video)

Change to: The secret life of plankton (TED Education video) by Tierney Thys , Christian Sardet, Noe Sardet and Sharif Mirshak

Add: Plankton Chronicles (

[2013-09-27 15:48] #24 closed, assigned to brian-c

[2013-10-01 12:42] mrniaboc opened #25 "Typo in training image text"
The piece of explanation text displayed when a training image has been used says:

"This is a training image. We've marked where the axes of the creatures.
Don't worry if you got one wrong! Each image is seen by multiple volunteers."

It should say:

"This is a training image. We've marked where the axes of the creatures should be.
Don't worry if you got one wrong! Each image is seen by multiple v

[2013-11-07 16:16] chrissnyder opened #26 "Top classifiers running out of data"
Issue has come up again. Particularly relevant for PP, as the top few people have a huge percentage of the classifications. Very good idea to keep them fed with subjects.

Possible solutions:
- Increase subject pool
- Deactivate some subjects, activate others
- Other

@parrish Thoughts? I say we take a block of 10,000, deactivate them, and activate another 10,000 subjects. Not keen on increasing t

[2013-11-11 19:03] #26 closed, assigned to parrish

[2013-11-21 17:19] brian-c opened #27 "Make this repo public..."
...unless there's a reason not to.

Thanks!

[2014-02-17 15:44] #27 closed, assigned to chrissnyder

[2014-02-25 13:14] ttfnrob opened #28 "Several blank strings in locale file"
Remove them? Or should they have something in them? Translator will simply avoid for now.

e.g. about.scientists.XXXXX.role

[2014-02-25 13:56] #28 closed, assigned to chrissnyder

[2014-04-04 16:25] #25 closed, assigned to brian-c

[2014-09-22 21:27] kellinora opened #29 "Subjects not Appearing"
SUbjects don't seem to be loading properly.  Tried both Chrome and Safari.  Screenshot attached.
![screen shot 2014-09-22 at 4 25 44 pm](https://cloud.githubusercontent.com/assets/1483785/4364345/40d6fec2-429f-11e4-9d2d-cdfb4751580e.png)

[2014-09-23 13:52] #29 closed, assigned to nobody

[2014-12-29 19:26] DarrenMcRoy opened #30 "User has run out of data on Plankton Portal; do we have more?"
A user has reported having run out of data on Plankton Portal again; according to her:

*It happens from time to time, since I've classified over 125 thousands of the plankton images already and there's not so many active users. So they can classify but I can not. [ @chrissnyder ] always put more data to the pool when I get this NO DATA information and then it works for me again.*

http://talk.pla

[2015-01-02 17:23] chrissnyder commented on #30
I can't help this time, as Plankton Portal already has 100,000 active subjects.

I might be able to shuffle the active set, but that still isn't a great solution, however much I'd like to support yshish.

[2015-01-02 17:23] #30 closed

[2015-01-06 11:11] ggdhines opened #31 "Duplicate classifications"
Don't know if this is a bug - really not sure what is going on. Anyways, for the subject with Zooniverse ID "APK0002oi9" I get the following weird things (doubt that "APK0002oi9" is the only subject where this is happening, just the first I came across). With the DB dump from Jan 1st 2015:

{ ...
"metadata" : {
                "counters" : {
                        "blank" : 3
                },
.

[2015-01-06 20:44] chrissnyder commented on #31
As with Penguin Watch, I don't have a great explanation for why there might be duplicate classifications returned, especially in this case when the classifications were over a minute apart. Occasionally I wonder if the classifications are accidentally being saved locally and then being sent shortly afterward, but we don't have a way to test if a classification came from localStorage or not.

For t

[2015-01-07 11:01] ggdhines commented on #31
Out of the last 1000 subjects which were retired on Plankton Portal, 83 of them had repeat classifcations by the same user - the most recent being in December. So this is definitely still happening.
Out of the last 50000 classifications (which goes back to mid September 2014), there were 553 which did not have a species associated with the markings. (So just over 1%) Of these 553, 153 had blank sp

[2015-03-19 15:11] chrissnyder opened #33 "Rework marking task"
Through discussions with the science team, they are mostly only using the marking task to establish a centroid. Agreed to remove the axis task and replace with a simple point task.

[2015-03-19 15:15] chrissnyder opened #34 "New group needs a different set of species to select from"
Image assets for new species - https://drive.google.com/a/zooniverse.org/file/d/0Bwb8Rkj3mY9ZV3ZJeGpoUGRHUVU/view?usp=sharing

Current species to include

species.arrowWorm
species.copepod
species.cydippid
species.doliolidWithoutTail
species.doliolidWithTail
species.larvacean
species.larvaceanHouse
species.medusaMoreThanFourTentacles
species.medusaGoblet
species.polychaeteWorm
species.radiolarianC

[2015-03-19 15:18] chrissnyder opened #35 "Toggle to switch between different subject groups"
Usable on homepage

[2015-03-19 15:23] chrissnyder opened #36 "Field Guide updates"
Adding the additional species needed in the new group.

Image assets -  https://drive.google.com/a/zooniverse.org/file/d/0Bwb8Rkj3mY9ZV3ZJeGpoUGRHUVU/view?usp=sharing

Potentially some better images to replace the ones that are there and greater reorganization. More details as I have them. For now, plan is to simply add the additional species.

[2015-03-19 15:23] chrissnyder opened #37 "Slide tutorial"
Replace current inline tutorial with a slide tutorial.

[2015-03-19 15:27] chrissnyder opened #38 "Design Updates"
This is a bit broad, but it would be good to take this opportunity to do some *mild* design updates to the site. Specific thoughts soon.

[2015-03-19 15:35] chrissnyder opened #39 "Image zoon on Talk subject viewer"

[2015-03-19 19:53] chrissnyder opened #40 "Group existing data and add new dataset"
- [ ] Add separate workflow for new dataset
- [ ] Ensure each group has a roughly equal number of subjects active

[2015-03-26 16:42] srallen commented on #38
- [ ] About page restructuring: Add Education and Team as sub-pages
- [ ] Add Field Guide to nav bar and link to classification interface
- [ ] Visual differentiation between subject groups species for field guide (@heathv  question)
- [ ] Show header and footer on other pages
- [ ] Add subject group info to classifier (@heathv question)
- [ ] Update mark on classifier based on design

[2015-03-27 20:05] chrissnyder commented on #40
@srallen The plankton data on dev is now grouped. Let me know if anything looks amiss.

[2015-03-27 20:23] srallen commented on #40
Should I only be seeing the 'mediterranean' group at the moment?

[2015-03-30 18:08] chrissnyder commented on #39
Added via zooniverse/Talk@07a3cdd720d89120e83b3657204602669dd52fcb

[2015-03-30 18:08] #39 closed

[2015-03-30 18:19] chrissnyder opened #41 "Add total images, classifications, and complete subjects counts to homepage"

[2015-03-30 20:15] #37 closed

[2015-03-31 19:14] chrissnyder commented on #34
@srallen Team says these will work:

fishLarvae - worm
medusaEphyrae - tentacled
pteropods - bug
radiolarianDark - round

[2015-04-01 14:51] chrissnyder commented on #35
A couple of items that I think should be looked at before we can close this issue.

My primary concern now is that people do not notice the group selector under the "Start Searching" button, leaving most users to classify under the Mediterranean dataset, leaving the existing dataset with few users.

I don't know if this is purely a design problem, or if we should randomize which group a user gets

[2015-04-01 20:09] srallen commented on #33
Mark changed from axis to pinpoint mark.

[2015-04-01 20:09] #33 closed

[2015-04-01 20:13] srallen commented on #35
The path of least resistance would be to have it be random each site visit. I would suggest setting it up this way and then perhaps get feedback from our power users (zuzi?) about whether or not the subtle change in species selection between groups trips them up. If so, then I could add in the selected group as a user preference.

[2015-04-01 21:38] jiho commented on #35
Just a comment, as an interested party in this matter.

I think just an UI change would help. The solutions I can see are:

1. Move the toggle *above* the button (and maybe make it a bit more conspicuous). I makes it more obvious that you have to choose one dataset *before* starting.

2. Make it two buttons: "Search the Mediterranean" and "Search the California current"

PS: I am all for the Medit

[2015-04-02 15:10] chrissnyder commented on #35
For the curious, @jiho is who we have to thank for the Mediterranean dataset :)

[2015-04-02 17:11] srallen commented on #41
I've added the stats to the home page. Could they be double checked? I'm pretty sure it's right, but would like confirmation before closing the ticket. (I borrowed a bit of logic from worms for grabbing the numbers).

[2015-04-02 17:13] srallen commented on #38
@heathv , do you have any opinions for the homepage design for the subject selector and the new stats area(for #41 )? There are some comments in #34 about the subject selector radio buttons, too. Thanks!

[2015-04-02 17:22] chrissnyder commented on #41
The numbers looked correct, though I think the formatting gets lost when you update the template.

[2015-04-03 19:54] DarrenMcRoy opened #42 "Merge "rocket-ship" thimble and triangle"
The science team have requested that we merge the categories of rocket-ship thimble and rocket-ship triangle.

We can use either icon.

For field-guide text, go with:

*Thimble- or triangle-shaped body with single, long, branching “tail”. Typically observed with a simple “tail” but sometimes displaying an elaborate array of branching tentacles.*

[2015-04-03 20:11] DarrenMcRoy opened #43 "Move Cydippids to "head with tail""
The team would like to move Cydippids from the "jellyfish-like" category to "head with tail" category.

This can replace the spot in "head with tail" vacated by https://github.com/zooniverse/plankton/issues/42

[2015-04-03 20:19] DarrenMcRoy opened #44 "Invert colors for the images from the four new categories"
In the field guide, the images from the four new categories need to be color-inverted so that they match everything else.

[2015-04-06 16:04] #42 closed

[2015-04-06 16:04] #43 closed

[2015-04-06 16:05] #41 closed

[2015-04-07 20:10] DarrenMcRoy opened #45 "Update three science team bios and remove one"
- [x] Replace bios with the following:

**Adam Greer** received his PhD from the University of Miami in 2013 and is currently a postdoctoral researcher at the University of Southern Mississippi Stennis Space Center. He is interested in the application of new sampling technologies, particularly imaging systems, to study fine-scale physical and biological processes that are important for larval fish

[2015-04-07 20:12] DarrenMcRoy opened #46 "Update development team page"
At the very least, we should remove Arfon and David, and add @chrissnyder ... ? The science team has asked that we add Chris. :-)

http://www.planktonportal.org/beta/#/science/team

[2015-04-07 20:19] #34 closed

[2015-04-07 20:42] #45 closed

[2015-04-08 18:59] DarrenMcRoy commented on #46
@chrissnyder are you up for having a bio added to that page?

[2015-04-08 19:03] DarrenMcRoy opened #47 "Add images to the About pages"
For the Education page:

https://www.dropbox.com/s/ld36davo45ev0me/plankton%20schmorgasborg_invert.jpg?dl=0

For the "why study plankton" page:

https://www.dropbox.com/s/fyo5gr3mz1j3yvl/Plankton-Diagram3.png?dl=0
(cite: National Data Science Bowl)

Would be nice if it could have a border, like the images on the other About pages do.

Thanks!

[2015-04-08 20:22] #47 closed

[2015-04-16 15:53] DarrenMcRoy opened #48 "Make "why study" graphic clickable"
The graphic on this page should be clickable so that it opens full-size in a modal view, so that it can be read.

http://www.planktonportal.org/beta/#/science/why-study

Maybe also add a "click to expand" note under it?

[2015-04-27 19:48] heathv commented on #38
- [ ] Change the slide tutorial background to something like rgba(8,21,37,0.7)

[2015-04-28 16:18] srallen commented on #35
The buttons are cleaned up a bit style wise and have a clear active state. What is the decision for randomizing the group vs setting a default?

[2015-04-28 16:20] srallen commented on #36
Almost done with this. @heathv, is working on a visual indicator for species groups.

[2015-04-28 16:20] srallen commented on #44
Got images from Heath.

[2015-04-28 16:20] #44 closed

[2015-04-28 16:23] srallen commented on #48
Unless @chrissnyder says otherwise, I don't think we have time for this as simple as it may seem. People can right click and select 'open image in new tab' to view it larger.

[2015-04-28 16:23] chrissnyder commented on #35
Random default with it persisted for a given user. I like the new active/inactive state distinction, but don't want an individual to accidentally start classifying on a different group unless explicitly chosen.

[2015-04-28 16:25] DarrenMcRoy commented on #48
It was a request specifically from the science team, for whatever that's worth.

Perhaps we could add a "full view" link underneath it that just links to the image file, at least?

[2015-04-28 16:28] srallen commented on #48
Yes, that will be easy and fast to do. The image itself can also link.

[2015-04-28 16:44] chrissnyder commented on #48
Making the image itself a link to the full version seems like an elegant solution here. Sarah is correct in that unfortunately we don't have the hours for anything more involved.

[2015-04-28 16:49] DarrenMcRoy commented on #48
Fine by me. :-)

[2015-04-28 21:28] #48 closed

[2015-04-29 13:24] heathv commented on #36
@srallen simple solution: svg location marker + text line below the species name.

![plankton-fg-mock](https://cloud.githubusercontent.com/assets/4551411/7391751/effcf212-ee48-11e4-9661-538327fb31e3.jpg)

[2015-04-29 13:29] DarrenMcRoy commented on #36
+1 I like it!

[2015-04-29 13:34] srallen commented on #35
Ok, I have the group set during on user change and it's being stored as a user preference. Logged out users get a randomized pick.

[2015-04-29 13:34] #35 closed

[2015-04-29 14:57] srallen commented on #36
I've added the location information. Most of the species are from both, so I just had the location names stack in alpha order: http://www.planktonportal.org/beta/#/science/field-guide

I just noticed that the marker icon I have is the check marked one from the classification interface. I don't have an svg with just a circle in the middle. @heathv, could you send it or send the creative cloud link

[2015-04-29 14:58] heathv commented on #36
I'll send a quick email.

[2015-04-29 14:59] chrissnyder commented on #36
Fancy!

[2015-04-29 15:28] srallen commented on #36
I have the location-marker and final set of updated images up. Is there anything else to change in the field guide?

[2015-04-29 15:30] #38 closed

[2015-04-29 15:42] srallen commented on #46
@DarrenMcRoy, @chrissnyder, can this be closed or should I add Chris?

[2015-04-29 15:43] DarrenMcRoy commented on #46
It's really up to @chrissnyder ... the team did ask for him to be added, but it's his call. :-)

[2015-04-29 15:43] heathv commented on #36
Just a couple alignment fixes: Align center along the blue line, align left on the red line.

![plank-fix](https://cloud.githubusercontent.com/assets/4551411/7394946/81d7dbee-ee5c-11e4-966e-222584503a88.jpg)

[2015-04-29 17:26] srallen commented on #36
Alignments are fixed.

[2015-04-29 17:26] #36 closed

[2015-04-30 14:53] jiho commented on #46
I realise you need links and bios for my lab/univ, myself and my PhD student who worked on and prepared the images.

Lab:
http://www.obs-vlfr.fr
University:
http://www.upmc.fr

Myself:
Jean-Olivier Irisson is an Associate Professor at the Observatoire Océanologique de Villefranche of the Université Pierre et Marie Curie. He is interested in plankton ecology, in particular in the distribution, beha

[2015-04-30 18:00] srallen commented on #46
I've updated the team and organizations page. Please let me know if there's a particular order the orgs and team members should be in.

[2015-04-30 19:25] jiho commented on #46
The order is fine by me. However:

- I've updated the pictures at https://www.dropbox.com/sh/bemxvxjct3nge62/AAD7F1wexTmM6kB_-_gsYwj8a?dl=0 to be more similar in terms of crop and color to the others of the science team
- The logo of UPMC is not displayed correctly (aspect ratio problem)

Thanks in advance.

[2015-05-01 15:57] srallen commented on #46
I've updated your bio images and fixed the logo. Please let me know if anything else should be done.

[2015-05-02 11:46] jiho commented on #46
Everything is fine now. Thanks

[2015-05-15 13:15] jiho commented on #46
Actually, I've updated the logos with smaller files and the correct aspect ratio there:
https://www.dropbox.com/sh/venbzwdc3dscdip/AADocLdKyChiI-EUifsA1x4Ca?dl=0

[2015-05-15 13:40] jiho opened #49 "Icons for new groups look bad"
It seems to be caused by using outlines and multiple paths in the SVG files. Try those:
https://www.dropbox.com/sh/lzavilntp3eegdy/AAA19JBKnd2NgHu3qz7XxLGFa?dl=0
which are a single path each, already in white?

[2015-05-15 14:07] DarrenMcRoy opened #50 "Tutorial triggering after "returning to classifying""
Multiple people are reporting that the tutorial pops up every single time they Return to Classifying from discussion on Talk. Issue appears to take place in multiple browsers.

And also from Jean-Oliver in his email:

He also reports this often signing him out, and there being other problems with getting signed out. Going to open a separate issue for that...

[2015-05-15 14:37] DarrenMcRoy opened #51 "Speed up image transfer"
Jean-Olivier points out that the images take a long time to transfer, and that's a fair point, since classification is much quicker now, the transfer could probably go faster. Could we do that?

[2015-05-15 14:41] jiho commented on #51
NB: by transfer I mean *slide down* to give place to a new image. Just a mater of speeding up the animation.

[2015-05-15 14:47] DarrenMcRoy opened #52 "Safari does not persist logged in state between tabs/windows"
From Jean-Olivier:

People getting signed out when visiting and returning from Talk is a sporadic problem on several projects. I'd hope we could do something about it, because it discourages discussion, but it might be hard to lock down.

At the very least, the data group shouldn't switch when you return from Talk, right?

[2015-05-15 15:02] DarrenMcRoy opened #53 "Add indicator of group (Cal/Med) to PP Talk object pages"
I believe @chrissnyder is going to take care of this, but I wanted to get it in GitHub. :-)

[2015-05-15 15:05] DarrenMcRoy opened #54 "Add Cestida to Mediterranean"
Cestida should apparently be an option when classifying in the Mediterranean.

Need to update both the interface and the Field Guide to indicate this.

[2015-05-15 15:05] DarrenMcRoy opened #55 "Rename "radiolarian dark" as just "radiolarian""
As per Jean-Olivier's comment:

"Radiolarian dark could probably be displayed as Radiolarian (we do not have another category of radiolarian on PP)."

[2015-05-15 15:09] DarrenMcRoy opened #56 "Text change to front page"
Change "Select a group to start searching" to "Select a location to search in."

[2015-05-15 15:35] jiho commented on #50
After more tests, it seems to be disconnected from the sign out problem actually. See issue #52

[2015-05-15 15:39] jiho commented on #50
Steps to reproduce:

1. sign in on http://www.planktonportal.org
2. start searching
3. click "Fisnished"
4. click "Discuss"
5. land on the Talk page for the image, where I am appropriately signed in and can type a comment
6. click return to classifying
7. land on a new image on www.planktonportal.org, still signed in, but the tutorial starts.

[2015-05-15 15:50] jiho commented on #52
Hi, to help Darren and other folks get to the bottom of this I tried to test it more thoroughly.

### Case 1

1. sign in on http://www.planktonportal.org
2. click the Talk menu item
3. land on http://talk.planktonportal.org where I am correctly signed in
4. click "Return to classifying" and land on http://www.planktonportal.org where I am still signed in

= everything OK

### Case 2

1. sign in on

[2015-05-15 16:11] jiho opened #58 "Polychaete worm icon does not render correctly in Safari"
Image with Chrome on the left, Safari on the right.

![screen shot 2015-05-15 at 18 09 55](https://cloud.githubusercontent.com/assets/18445/7656875/cb89ff00-fb2d-11e4-95b1-f51a5071db08.png)

[2015-05-15 16:14] chrissnyder commented on #53
Done.

[2015-05-15 16:14] #53 closed

[2015-05-15 16:16] jiho opened #59 "Text hard to read on title page"
On the landing page, the grey text ("Ready to help?" in particular) is a bit dark compared to the background (or the background is a bit too light) and is difficult to read. I think the background was darker before. I preferred it.

See the start of the work "Ready" in small screenshot below

![screen shot 2015-05-15 at 18 16 05](https://cloud.githubusercontent.com/assets/18445/7656972/798101a8-fb

[2015-05-15 16:17] jiho opened #60 "Untranslatable text"
In the tutorial, the "Next" button is not translatable. Use the `classify.next` string? Same for the "Finish" button at the end of the tutorial. Actually, I would call it "Start" rather than "Finish" because it is the start of the classification and use the `home.start` string.

The location displayed under the image is not translatable. Use `home.groupOneButton` and `home.groupTwoButton`?

[2015-05-15 16:19] srallen commented on #49
@jiho, thanks for supplying these. Just so you are in the know, plankton portal is using a custom font set for the species icons generated by fontcustom. I'll re-generate the font set using these svgs and hopefully that solves the issue.

[2015-05-15 17:19] DarrenMcRoy opened #61 "Opaque marking can cover up small plantkton"
This from Zuzi:

"[The mark obscuring a small plankter.](https://lh3.googleusercontent.com/-Uv4pinkqKyI/VVYLNqTJyJI/AAAAAAAAHxo/5G0inNaAAxI/s0/ysh_classification_03.jpg)

"Look at the mark, it is too opaque to see the plankter you're going to classify. Most newbies won't be able to remember the shape of the little creature while going through the menu of so many categories.. They need to see what

[2015-05-15 17:25] DarrenMcRoy opened #62 "Image examples in interface use old images"
The images as examples that pop up when one does a mouse-over in the classification interface are still the images from the old field guide, the ones that Zuzi says are not very useful. (Except for the ones that are of new categories.)

Could we update them from new images from the new field guide? (Probably without the size marker?)

@heathv would probably have to generate those images without th

[2015-05-15 17:48] DarrenMcRoy opened #63 "Marking color isn't very visible?"
Zuzi remarks that the blue color of a finished marking doesn't have the best visibility against the snowy black/white background; prefers the bright yellow.

I don't know if anyone agrees, or if that'd be hard to change, but I said I'd mention it.

Also, it appears sort of like the yellow initial mark still exists underneath the blue mark? Is there a reason for that?

![screen shot 2015-05-15 at 1

[2015-05-15 18:01] DarrenMcRoy opened #64 "Image caching seems to be causing issues across browsers"
This is an issue that can apparently be solved by clearing one's cache, so it might be low priority, but it might also confuse a bunch of people when they first return to the site (like Cedric, in his email):

![ysh_field_guide_04](https://cloud.githubusercontent.com/assets/8987864/7658736/43c1ebda-fb02-11e4-93d3-10da795ecf89.jpg)

Field guide uses old images without the markers

![ysh_classificat

[2015-05-15 20:44] jiho commented on #61
I agree with Zuzi.

Currently, the center of the mark (i.e. the white dot) is placed where the user clicks. If the pointy tip of the mark was placed there, it would be both more logical and less obfuscating (the mark looks like a pin). By the look of it, shifting the mark 30px up would work. I dont know if this what you called "mark moving".

Another solution would be to use a mark with an empty c

[2015-05-15 21:24] srallen commented on #64
We've cleared the cache server side several times. If there is anyone still seeing issues like these, please do ask them to clear their local browser cache. I don't think there's anything more we can do on our end.

[2015-05-15 21:24] #64 closed

[2015-05-16 06:15] jiho opened #65 "Scientific name in field guide"
The description of fish larvae mentions "Lack the two symmetrical fins and the transparent body of Chaethognaths." but the name "chaethognath" is not used elsewhere (and should be spelled chaetognath anyway, with no middle h).

Replace by "Lack the two symmetrical fins and the transparent body of arrow worms."

[2015-05-16 09:06] jiho commented on #49
I did not realise I actually had access to the source through github until now. Quite stupid of me. Now that I have the example of what the SVG should look like, I think I formatted the new ones correctly... and I even made that into a pull request. See #66

[2015-05-16 13:07] yshish opened #67 "Images jump to fit the screen while placing a mark during the classification"
After scrolling down the Classification page, when the top part of the image is out of the screen, it jumps itself at the moment when I click to classify a plankter so the mark gets placed on a wrong place. It doesn't happen when the image is too low (=you don't see the bottom part). I guess It cannot be reproduced on big screens:) My laptop screen is so small that I always have to scroll down und

[2015-05-16 14:44] yshish commented on #61
Hi, May I ask you why having the marks movable would be 'too ambitious' there? They were used before and are used at other projects too (like at the Penguin Watch). Thanks, Z.

[2015-05-16 15:10] yshish opened #68 "Tutorial doesn't work properly while using Firefox 37.0.2 on Win7"
One user has reported that while using an old laptop with Firefox 37.0.2 on Win7, the entire tutorial was not visible, and she could not click on the "Next" box to proceed in the tutorial. If she switched to the Internet Explorer browser, she could see the whole tutorial.

[2015-05-16 19:35] yshish opened #69 "The marks appear far away from the place they should"
When Kirsten clicks on a plankter, the yellow mark is appearing to the side of the plankter instead of on it (and it's quite far away). She didn't know how to remove the wrongly placed marks so I guess these were classified with marks outside of the plankton: APK00093z9, APK0007ap2, APK0008jv2
(She cleared her browser cache but it didn't help.)

She took some screen shots of misplaced icons. Here

[2015-05-16 20:39] yshish commented on #69
..Which brings me to the questions, whether it wouldn't be helpful to mention the possibility of removing wrongly placed marks in the Tutorial + showing how to do so. What do you think?

[2015-05-18 14:25] #46 closed

[2015-05-18 14:25] #54 closed

[2015-05-18 14:25] #55 closed

[2015-05-18 14:25] #56 closed

[2015-05-18 14:25] #60 closed

[2015-05-18 14:37] srallen commented on #50
I think this is fixed now. Reopen if any more reports happen after today.

[2015-05-18 14:37] #50 closed

[2015-05-18 14:39] srallen commented on #51
The css animation is now 1s instead of 3s.

[2015-05-18 14:43] srallen commented on #52
Thanks for the detailed information. Darren, if any other volunteers are reporting this, could you gather their OS and browser info? It would be useful to know if the random logging out is solely a Safari problem.

@jiho, When this occurs does the interface correctly reload your location preference once you log back in?

The site is only set to save the preference when logged in, otherwise it is r

[2015-05-18 14:48] #65 closed

[2015-05-18 14:51] srallen commented on #49
Ok, I've recompiled the font set. The updated svg icons are now on the site.

[2015-05-18 14:51] #49 closed

[2015-05-18 15:02] srallen commented on #68
I haven't been able to replicate this issue. Has anyone else reported this?

[2015-05-18 15:04] srallen commented on #40
Deployed to production.

[2015-05-18 15:04] #40 closed

[2015-05-18 16:59] yshish commented on #52
Hi, I'm not sure whether it is the same thing you were talking about but I've just had problems getting to the classification:

I was in Talk (and I was logged in); then I clicked on the blue 'Return to classifying' button. No image had loaded but suddenly the 'We've run out of data' message popped up ([Screenshot](https://lh3.googleusercontent.com/--11e931Xx4M/VVoY38jIqwI/AAAAAAAAH1E/2wdgA2ssIvY/

[2015-05-18 17:00] yshish commented on #68
Not yet.

[2015-05-18 17:03] yshish opened #71 "Location confusion"
Kirsten has just reported that the Classification page says she's classifying Mediterranean but the image is from California current - as she can see in the physical data below the image (Talk page)
[Link to the thread](http://talk.planktonportal.org/#/subjects/APK00059wh)

[2015-05-18 17:49] srallen commented on #61
The alert marker is click and draggable while the tool controls are open, so that should help alleviate some issues with trying to see behind it. I'll discuss the design of the mark itself with @heathv.

Also to clarify, making the mark click and draggable wasn't vetoed as too ambitious, but rather was going to be an enhancement for a later date when I had the time to dedicate to it.

[2015-05-18 17:57] srallen commented on #69
I haven't been able to replicate this either. Is this the same person having issues with the tutorial in #68?

Tutorial content questions are for @DarrenMcRoy. Perhaps this can be in a FAQ on talk?

[2015-05-18 18:00] yshish commented on #69
Yes, it is the same user, [Kirsten](http://talk.planktonportal.org/#/users/Kirsten%20A.%20Rohrbach)

[2015-05-18 18:10] yshish commented on #61
OK, thank you. It doesn't work for me in Firefox (Ubuntu). Once I place the mark and the menu with categories opens, I cannot move the mark anywhere.. But I tried it in the Chromium and it works perfectly there! Going to clear the cache, hope it will help.

[2015-05-18 18:51] srallen commented on #63
Ok, the yellow mark is hidden when the controls are closed. The fill color is easy to change, just a css property, I'll check in with @heathv.

[2015-05-18 19:00] srallen commented on #71
Just to alleviate any concern for bad data, the location info is a part of the image's group meta-data and can't be overwritten by what is displayed in the interface. Just an initial guess at what may be happening is that the issue might be associated with the random sign outs that are being reported and subsequently the location that is being displayed isn't being updated correctly when a new sub

[2015-05-18 19:29] #59 closed

[2015-05-18 19:29] #63 closed

[2015-05-18 19:40] srallen commented on #61
The mark itself is repositioned a few pixels up as well now. Is this sufficiently fixed now between the repositioning and being able to drag it around while the tool controls are open?

[2015-05-18 20:04] srallen commented on #52
@yshish, I've added a text color for the input field. Is it fixed for you now?

[2015-05-18 20:05] srallen commented on #71
Actually, this doesn't appear to have to do with the random sign outs. I'm still working on that one. However, the display of the location in the classifier should now be fixed.

[2015-05-18 20:05] #71 closed

[2015-05-18 20:28] jiho commented on #52
@srallen indeed, when I log back in, my data set of preference gets loaded.

But actually, from the further tests I did, the issue is not with data group switching but with Talk and PlanktonPortal itself not retaining login information when I open links in new tabs/windows with Safari on OS X, Chrome and Firefox on OS X work. Don't know about the other browsers/OSes.

I cannot rename the issue tho

[2015-05-18 20:56] srallen commented on #52
I was able to replicate in Safari (6.1.6) the login issue. It was not signing me in to Talk when I used the Discuss button, but I'd like to put this issue on hold for two reasons:

I'm getting new hardware soon and will be upgraded to OS X 10.10 and will then be able to test with the latest version of Safari. Right now I can't upgrade since I'm still on 10.7.

Second, we're going to be releasing a

[2015-05-18 21:35] yshish commented on #61
I cleared the cache and it helped; it works in Firefox for me!

There is just one problem: when the menu is on the right side of the mark, the mark is visible well but when the menu is on the left, the mark is almost overlapped by it. Check the screenshots:
 - [mark visible](https://lh3.googleusercontent.com/-bcVPh-f2s88/VVpaSpADlSI/AAAAAAAAH1g/OO1i6bzbGtc/s0/ysh_mark-visible.jpg)
 - [mark overlap

[2015-05-18 21:54] yshish commented on #52
@srallen I even cleared the browser cache but it still appears white on white to me.. :/

[2015-05-18 22:09] yshish opened #72 "classification: there's the previously classified image displayed instead of the new one"
User suzeroo:

And I had a similar issue today:
I finished an empty image. The new image has loaded but seemed to look the same as the previous one. For a 'microsecond', another image with a [radiolarian colony](http://talk.planktonportal.org/#/subjects/APK0008g2y) suddenly flashed and the empty one appeared back. Then I was waiting a couple of minutes but the image wasn't about to change for the

[2015-05-18 22:19] yshish commented on #61
As for repositioning of the mark.. It seems to be too up to me. I'd prefer having the bottom/pointy end of the mark directly where the cursor points. What do you think about it? Now it is placed on the left up from the cursor point (which seems to be causing the overlapping by the way).

[2015-05-18 22:58] jiho commented on #69
I can reproduce the bug in a setting that resembles that of Kirsten based on the screen shots.

1. go to www.planktonportal.org with Firefox
2. zoom in so that the image takes more than the full browser window
3. scroll to the right
4. click somewhere towards the left edge of the browser window

= the window scrolls left and the marks is placed far left of where the user clicks.

This does not hap

[2015-05-18 23:08] jiho commented on #68
I think, this is similar to #69 : In her old firefox, Kristen is zoomed very much (maybe she has the default text size set to a very large value) and that causes these issues.

This is actually true in any browser:

1. connect to http://www.planktonportal.org/#/classify
2. launch the tutorial
3. zoom to 150%: the next button becomes unreachable
4. zoom to 175%: half the tutorial text is not visibl

[2015-05-18 23:10] jiho commented on #69
Actually, @yshish you have reported this as #67

I would bet this is due to the same behaviour (i.e. the mark gets shipped by the size of the pop-over with categories or something like this).

[2015-05-18 23:13] jiho commented on #61
Same here: it is shifted up by the right amount (the pointy part is exactly where I click) but also shifted left when it should not be.

[2015-05-18 23:19] jiho commented on #52
@srallen I have Safari 8 on 10.10 and I still see the problem.

In addition, the problem is not limited to planktonportal -> talk links but also within planktonportal (Case 4 below) and within talk (Case 3 above).

### Case 4

1. sign in on http://www.planktonportal.org
2. Command+click the Science menu item
3. land on http://www.planktonportal.org/#/science where I am *not* signed in

So, to summ

[2015-05-18 23:27] jiho commented on #59
That's much better thanks

[2015-05-18 23:27] jiho commented on #54
Thanks!

[2015-05-18 23:30] jiho commented on #51
I'm still measuring something like 2.5s. Is this live already?

[2015-05-18 23:32] jiho commented on #50
Works for me. Thanks!

[2015-05-18 23:34] jiho commented on #49
The new icons look much better now. I should have realised from the start how to use the existing SVGs as template. Sorry for the inconvenience and thanks for fixing it.

[2015-05-18 23:37] jiho commented on #72
I've also noticed some flickering of the images, which sometimes makes me unsure wether I am actually marking the correct one. This could be problematic if the marks are made by the user seeing one image but are recorded associated with another (which seems to be the case).

Difficult to reproduce consistently though. My guess is that it is linked to a connection speed issue or something of this k

[2015-05-19 14:19] yshish commented on #50
For me as well. Many thanks!

[2015-05-19 14:38] yshish commented on #61
Another problem I can see there.. Try to place the mark close to the bottom of the image - the menu will appear below the mark, in one moment it simply disappear = you cannot see it however the mark is placed in the image.
 - [Screenshot](https://lh3.googleusercontent.com/-fvNcrO_y0y8/VVtJIoGAq9I/AAAAAAAAH2E/8WgFX__VoLo/s0/ysh_menutoofatbelow.jpg): The menu cannot be seen.
 - [Screenshot](https://

[2015-05-19 14:51] yshish commented on #62
Please, change at least these ones:
 - Lobate
 - Larvacean House
 - Thalasso
 - Salp
 - Arrowworm (I don't like the image proportions)

The others may remain the same they are. Some of them are very confusing and doesn't look like the creature usually appears. Thanks!!

[2015-05-19 14:55] srallen commented on #61
I've made some adjustments with the positioning. Sorry about that, Webkit browsers and Firefox seem to be different with handling some positioning css. Is it appearing correct for you now?

[2015-05-19 15:02] yshish commented on #52
It keeps signing me out - not always, but often (I'm used to visit the classification from the Talk) and the 'We've run out of data' message pops up always when I'm signed out automatically. It doesn't matter whether I open the classification in the same/new tab of the browser.

When I visit the Field Guide, the 'no data' message pops up too (many times today, not always) and perhaps it would happ

[2015-05-19 15:14] yshish commented on #61
No, it isn't visible. But(!) when I left the mark there (at the bottom margin) without choosing any category and place another mark somewhere else, the invisible menu suddenly appears (so I can see both menus there) and I can use it.

[2015-05-19 15:16] srallen commented on #61
I should be more clear: I fixed the overlapping of the marker with the controls that was showing up in Firefox.

I haven't replicated the menu not appearing issue yet, but I'm working on another project for the rest of today, so I'll be coming back to this.

[2015-05-19 15:18] yshish opened #73 "After switching the locations, the 1st image doesn't appear in my Recents"
When I switch the locations from Med to Cal and classify some images, the first one from Cal. location doesn't appear among the classified images [Recents](http://www.planktonportal.org/#/profile).

[2015-05-19 15:21] yshish commented on #61
Oh, sorry! Yes, it works and I find it much better! :) The pointy end isn't exactly at the same place where the point of my cursor is (not sure whether it should be), but it's almost there!! Perfect. Thank you.

[2015-05-19 15:33] eatyourgreens commented on #67
I've just had this happen to me in Firefox, with the browser zoomed in a bit, so that the image is slightly larger than the browser viewport. Scroll down, click to mark near the bottom, the image scrolls down and the mark appears above the point you actually clicked.

Could this be caused by keyboard focus shifting to the marking surface on mouse click, thus causing the browser to scroll the focus

[2015-05-19 16:13] yshish commented on #52
Btw, when the image loads and I click to sign out a new image loads instead of the current one = it is possible to classify when I'm not signed in (as it should be). So it's really weird that when it signs me out, it tells me there are no data. It should be loading images anyway...

[2015-05-19 16:16] yshish commented on #50
But when I switch the location from Cal to Med of from Med to Cal (Firefox, Ubuntu), the Tutorial pops up again while new image is loading.

[2015-05-19 21:33] yshish commented on #73
Strange, it seems to be working without any problems now.. I will test it again tomorrow

[2015-05-20 10:00] brianaharder commented on #31
Repro for the two 'no species recorded' classifications cases.

1) Click on the image to start an annotation.
2) Click Finished.

This returns a classification that has x and y data, and no species entry at all.

1) Click on the image to start an annotation.
2) Select a category.
3) Click Finished.

This returns x and y data, and species: null

[2015-05-20 10:08] ggdhines commented on #31
@brianaharder - those markings typically just get ignored

[2015-05-20 10:09] ggdhines commented on #31
sorry - @brianaharder, I don't think that has anything to do with duplicate classifications

[2015-05-20 10:12] brianaharder commented on #31
@ggdhines, I know they're separate issues. Chris said he couldn't figure out how the blank species classifications were getting into the system, so that's at least one (old) mystery solved.

[2015-05-21 20:14] #67 closed

[2015-05-21 20:14] #68 closed

[2015-05-21 20:14] #69 closed

[2015-05-21 20:25] yshish commented on #67
I'm afraid it hasn't been fixed yet. I've just tried it and when I scroll down and click to place the mark, it jumps up from there so the mark appears far above....

[2015-05-21 20:27] srallen commented on #67
@yshish, I was still deploying to production as of a few seconds ago. Please give it another try. Thanks!

[2015-05-21 20:33] yshish commented on #67
Well, it is working now!! Awesome :) Thank you very much, Sarah!

[2015-05-22 15:31] yshish opened #74 "Confusing locations - categories don't correspond to the location settings"
I switched the location from Med to Cal but the image which loaded was from the Med, displaying a (dark) Radiolarian - the physical data below the image tells Mediterranean (despite I've switched for the California) but the menu offer me the California current categories. So I saw an image from wrong location but couldn't classify it by the correct categories.

Here is a [screenshot](https://lh3.g

[2015-05-22 15:36] yshish commented on #74
I finished the classification, clicked to discuss the image (opened it in a new tab) and then clicked on the blue button to return to the classification page. The image which loaded was from the Med again but the menu with categories as well! I clicked on the main page to check which location has been set. The answer is Mediterranean. Odd!

So I switched to California again and the image which loa

[2015-05-23 14:52] yshish commented on #74
It could be the same issue which was reported by Kirsten here: [http://talk.planktonportal.org/#/boards/BPK0000002/discussions/DPK0000a7n?page=1&comment_id=555a88e15135d04cdb0056eb](http://talk.planktonportal.org/#/boards/BPK0000002/discussions/DPK0000a7n?page=1&comment_id=555a88e15135d04cdb0056eb)

[2015-05-24 00:10] yshish commented on #52
Another user, mkmcguir, has reported the Running out of data issue - it appears after clicking on the 'Return to the classification' button from the Talk at the moment the page is trying to recognize the account......

[2015-05-24 20:48] yshish opened #75 "Marks don't display under Firefox38 & Windows7"
AvastMH has just reported 'vanishing marks' while classifying plankton using Firefox38 on Windows7.

This is what she said: *"I classify a plankton and I click the correct picture the exclamation marker suddenly vanishes. In fact it turns into a small black box I just discovered. The count is correct. Here's a [picture](http://imageshack.com/a/img540/4817/rzq1JP.jpg)
 I've just cleared my cache an

[2015-05-25 20:14] yshish opened #76 "I'm able to change the category after finishing the classification."
Is it an issue or a feature?

I chose a wrong category and hit the Finish button. Then I tried to click on the yellow mark to correct it and to my surprise, it worked. It did let me change the category for the correct one. I'm afraid it was recorded with the first, wrong one. If so, It shouldn't be possible to open the menu with list of categories after finishing the classification any more since

[2015-05-26 17:57] DarrenMcRoy commented on #73
@yshish is this one still happening at all?

[2015-05-26 18:14] yshish commented on #73
I am sorry, I haven't much time to test this behaviour more. I tried it only a few times with no problems. But I'd like to test it more since it appeared more than once the day I reported it.

[2015-05-26 18:32] srallen commented on #74
No, the issue Kirsten reported was resolved in #71 and was not related to sign outs like I surmised. It was totally just a display issue.

When this issue happens, do you by any chance notice whether or not it logged you in correctly when clicking to return to classification?

[2015-05-26 19:18] srallen commented on #74
I think I fixed this just from doing some code refactoring in ad45557cba3d1226ecf8d7c33f9eabb1b6114538

I'm going to close for now, but do reopen if you encounter another instance of the tool controls being out of sync with the location label.

[2015-05-26 19:29] srallen commented on #75
I'm not sure. She should be seeing a similar mark, but with a check mark instead of exclamation. The check marked icon functions as a button to reopen the species selection and to indicate a species has been marked. They're loaded up with the custom font set that is generated along with the species svg icons. I'll have to do some experimenting to see if I can replicate.

Thanks for your continued

[2015-05-26 19:36] srallen commented on #52
@yshish, I did some refactoring that may have fixed the issue with location loading after clicking 'return to classification'. Please let me know if you are still having this issue.

The cmd+click a link is a separate Safari only issue which is not fixed yet. Safari isn't persisting log in states between tabs. However, I got my new laptop and am upgrade to Yosemite, so I should be able to start de

[2015-05-26 19:52] #76 closed

[2015-05-26 19:53] srallen commented on #76
It makes sense to disable these marks when the classification is sent. I've disabled them, so it shouldn't cause any confusion. Thanks!

[2015-05-26 21:05] jiho commented on #61
I think this one can be closed thanks to the recent changes.

[2015-05-26 21:06] jiho commented on #52
The title of this issue should probably be changed to "Safari does not persist logged in state between tabs/windows". All the rest was unrelated and is now fixed.

[2015-05-26 21:12] #61 closed

[2015-05-26 21:20] jiho commented on #62
It would indeed make sense to use the images of the field guide (which are supposed to be the most representative; otherwise they need to be changed in the field guide itself).

My opinion on which image to pick is (numbering from left to right):

- lobate: 1
- larvacean house: 1
- salp: 4
- thalasso: 4
- doliolid (without tail): 3
- radiolarian: 2
- rocketship sipho: 1
- cydippid: 3 (even though

[2015-05-27 16:15] chrissnyder opened #77 "Race condition on translating the tutorial next/start buttons"
Because language switching happens async, the next/start buttons on the tutorial are always shown in English, regardless if the selected language has the text available.

Pretty sure an event handler listening to when the language switch happens and then setting the next/start button text should fix this.

[2015-05-27 20:27] yshish opened #78 "Switching locations causes problems with classifying - FINISH is missing"
I switched the location from the MED for the CAL, after classifying a single image I switched the location back to the MED and went back to the Classification page. Here is a [video record](https://vimeo.com/129028174) of the screen while it is happening. The Finish button was missing - the image loaded like if it has been classified already (notice the Discus and Next buttons are present instead

[2015-05-27 20:28] yshish commented on #73
Yes, it is still happening (not always) but there are more serious issues related to the switching locations.. I've created a new issue thread: (https://github.com/zooniverse/plankton/issues/78)

[2015-05-27 20:36] yshish commented on #73
Well, I see where the problem probably is. Since the Finish button is missing, the first image is never really classified so it cannot appear among the Recents! Sorry I haven't realized this before..0:)

[2015-05-27 21:35] yshish commented on #62
My suggestions; I tried to choose the most common displays (considering both locations). The ones we agreed on are **bold**:

 - **Lobate 1**
 - Larvacean House 4 (This is more common type/view of L. house, the 1st one is rarely seen in Cal)
 - Salp 2 (They almost always appear very opaque)
 - Thalasso 4 (! The drawing is well visible and the angle of view is the most typical)
 - Doliolid without

[2015-05-29 14:00] yshish opened #79 "Old comments don't always show up (but they do after posting your own comment)"
This seems to be a very old issue but there was no one confirming to me it really happens! I saw many users posting questions about something which has been already answered in comments below (including questions from other moderators who do always read old comments before posting a new one). This time someone complained that the old comments weren't there before posting the question which corresp

[2015-05-29 17:50] yshish commented on #74
It has just happened again but there were some differences*. I kept the Classification page opened in one browser tab and opened the Home page in a new one. Then I switched the location from MED to CAL in the new tab. The images which loaded in the new tab were definitely from the MED however the list of categories in the pop up menu were from the CAL, and the inscription was telling me I'm classi

[2015-05-29 20:21] yshish commented on #51
Is the animation causing the ['echo'](http://talk.planktonportal.org/#/boards/BPK0000002/discussions/DPK000059v)*(check the 3rd page)* problem = when I finish the classification and the image scrolls up but loads again instead of the new one and stays displayed for a couple of seconds before the new one displays? I pretty often classify an image as empty due to it, since many of them include no pl

[2015-05-31 11:44] yshish opened #80 "Some texts are missing on the Translation page; some texts appear in English after deploying"
I have translated 100% of the texts available on the Translation page but some are missing there and some display in English after deploying however have been translated.

Here is their list:

 1. The location names int he Field Guide (appear in English)
 2. The short note about Zooniverse: *"The Zooniverse is a collection of web-based citizen science projects.."* (missing)
 3. Recent and Favorite

[2015-06-01 12:57] #77 closed

[2015-06-02 15:04] srallen commented on #80
Sorry about that. I missed a few areas for the new content. The location names in the guide, the profile 'Recent' and 'Favorite' and the tagline in the footer are now translating. I'm not sure why you're not seeing translations for the species and categories on the classification interface yet. Please do let me know if anything else isn't translating correctly.

[2015-06-02 15:05] srallen commented on #78
Just to follow up, I may have some time to take a look at this early this week.

[2015-06-02 17:49] jessluo commented on #62
Alright - here are my selections, taking into acct @jiho and @yshish's suggestions. If I can get final say then these are the selections. I biased this list towards not changing things that I don't think needs changing, unless both jiho and yshish agreed upon the change.

* lobate - 1
* larvacean house - 2 (sorry @yshish but I'm going to have to disagree with you here. And yes, @jiho, she's right,

[2015-06-02 18:52] jiho commented on #62
Let's use the final list by Jessica.

[2015-06-02 18:55] DarrenMcRoy commented on #62
We are! :-)

[2015-06-03 15:33] srallen commented on #79
Talk is actually a separate code base from the code bases of our projects. I'm going to close this here, but you can open a ticket for the [Talk repo] (https://github.com/zooniverse/Talk). Just so you are aware, though, it probably won't be fixed for a while or possibly not at all since we're in the midst of a rebuild of Talk entirely.

[2015-06-03 15:33] #79 closed

[2015-06-03 15:37] yshish commented on #79
Well, let's wait for the new version and hope it won't be a problem there:) May I ask when is the new version about to be released? (Is it in years, or months or..?)

[2015-06-03 15:42] srallen commented on #79
I don't what the concrete deadline is, as I'm only a part of bits of the development process as needed, however, it definitely won't be years! It'll be months if not sooner.

[2015-06-03 16:32] srallen commented on #78
Thanks for the video. It was really helpful. This is now fixed. I'm also going to close #73 since they're likely related, but do comment if it comes up again and I'll reopen.

[2015-06-03 16:32] #78 closed

[2015-06-03 16:33] srallen commented on #73
Fixed via 492053e0de502cf5081e9151699a520fb09e2f47

[2015-06-03 16:33] #73 closed

[2015-06-03 16:41] mschwamb opened #81 "If you favorite non-logged in the api password prompt shows up"
If you try to favorite something non-logged in the api password prompt shows. See screenshot

![screen shot 2015-06-04 at 12 39 31 am](https://cloud.githubusercontent.com/assets/753325/7965805/76fe4778-0a52-11e5-893b-fa1651dea3d8.png)

[2015-06-03 18:38] yshish commented on #78
Great, it works!! As for the Recent profile page, it displays some images twice there however I didn't realize I classified them twice, for example: APK000819d || APK0007lqx (I added each of them to my collections. Could it be the reason they display there twice?)

[2015-06-03 18:52] yshish commented on #78
(I cannot repeat it, so it probably ha nothing to do with the collecting)

[2015-06-04 15:24] srallen commented on #62
Updated images are now appearing on the site in the classification interface.

[2015-06-04 15:24] #62 closed

[2015-06-05 22:20] yshish commented on #52
The signing out with No data message has just appeared (after some time) again when I returned from the Talk to the Classification page (I didn't open the classif. in a new tab).

[2015-06-08 15:41] srallen commented on #74
@yshish, I think I finally tracked down the issue. This was a difficult one to replicate, but I believe the problem was the asynchronicity of user log in and subject selection and the fact that 10 subjects are queued typically. I needed to clear out the subject queue after user authentication or log out since the group may change at log in/log out depending on user preference or random selection.

[2015-06-08 18:53] yshish opened #82 "being stuck in the Tutorial"
User Sukhumvit has just reported being stuck in the Tutorial.

Here are the [details about the browser and OS](http://whatsmybrowser.org/b/DHVAD4E) being used.

I'm not sure what exactly is happening. At first, I was afraid the user has just confused the real Classification page with the Tutorial. But I was most probably wrong (telling by the following replies).

Please, check the [Discussion thre

[2015-06-08 19:22] srallen commented on #82
A screenshot will be helpful, but my guess is that this user is just confused by the interface. I'm guessing the user thinks the "Tutorial" button next to "Finished" is some kind of indicator meaning a tutorial state of the interface when all it does is launch the tutorial.

Also maybe the user isn't logged in? Going back and forth from the home page (maybe he's changing the location?) while not b

[2015-06-08 19:32] yshish commented on #82
Agree, it is the only explanation which makes sense to me (just hope we're not wrong:). Thanks for the note.

[2015-06-10 20:00] yshish commented on #52
It happened again and reloading the page didn't work (I gave it up after 6 attempts). Still no idea what could be causing it? (my internet connection is slower today so it takes more time to re-sign in after opening the Class.page)

[2015-06-11 15:35] yshish commented on #74
I thought it shouldn't make problems any more..

I opened the home page in a new tab, switched the location from MED to CAL and all the images I got to classify were from the MED however it said they're from CAL (and the category list was offering the CAL animals only) but the Talk page confirmed they're from MED. After at least 10 wrongly signed frames I got a real CAL one to classify.

Shall I f

[2015-06-11 15:39] srallen commented on #74
Ok, it's loading up the 10 subject queue somewhere still where I need to clear it out. I'll check on it today, but I should be able to fix it quickly now that I know what the problem is.

[2015-06-11 15:41] yshish commented on #74
It seems to be problem only when switching from MED to CAL! Is it possible?

[2015-06-13 18:15] yshish commented on #52
Well, it's been pretty difficult to get to the Field Guide or to the Classification page without this issue appearing. It behaves badly. I made a screen record for you too see the behaviour. Hopefully it will help to solve it. It's really frustrating.

You can watch the record here: https://vimeo.com/130632616

Here is the description of the behaviour:
The *No data* message is connected with the a

[2015-06-15 14:42] srallen commented on #52
@yshish , I just noticed that you are still using our beta testing link! The URL in your browser in the video is planktonportal.org/beta. It's failing because our beta site is using subjects from our development database (which is unavailable right now, so it's failing to fetch subjects since about last Thursday). Do be sure you are using just www.planktonportal.org which is the live production si

[2015-06-15 14:43] srallen commented on #52
Oh, and @yshish, do make a separate ticket for the display issue in Firefox. I've noticed it a couple of times in the OS X version. I think it'll just need some adjustments to the styling to fix.

[2015-06-15 14:45] srallen commented on #74
As noted in #52, could you double check this using the production site? Please let me know either way. I haven't been able to replicate this issue on the production site. (FYI I manually deploy, so the beta site doesn't always stay in sync with production, also shouldn't be used unless testing a new feature. It doesn't use production data!)

Anyway, if you aren't seeing it anymore in production, I

[2015-06-15 14:47] srallen commented on #82
I'm going to close this since the user with questions hasn't responded to the thread in Talk. I'll just assume this means he understands the interface now or hasn't had any more issues.

[2015-06-15 14:47] #82 closed

[2015-06-15 18:48] yshish commented on #52
Oh my! So sorry I didn't notice that. I typed the correct URL but it was switching automatically to the beta version as I run the classification. It seems to be working without any troubles now :)

[2015-06-15 18:53] yshish commented on #74
It works perfectly now, when I switched the beta version for the production one. You can re-close the ticket.

[2015-06-15 18:54] srallen commented on #74
Thanks!!

[2015-06-15 18:54] #74 closed

[2015-06-15 18:59] yshish opened #84 "Firefox (Ubuntu): After zooming in/out the bottom menu in the classification displays too narrow"
The bottom menu on the Classification page displays more narrow than it should unless I go with the cursor over it. It's an old issue which appears after zooming in/out of the page and then setting it back to the 100%.

[2015-06-17 12:38] jiho opened #85 "Present known, interesting images from time to time, to keep user active"
Many images contain only marine snow or noise. Some users may be disappointed after seeing 10 or 15 images with nothing on it in a row and may leave the site. To help with this, already identified images, on which organisms of interest are known to be present, could be presented to the user from time to time.

Ideally, these known images would be presented less and less frequently, e.g. after 5, 1

[2015-06-17 16:58] yshish commented on #85
I love this idea. It would be a great solution!

[2015-06-19 19:31] yshish commented on #52
[APK0008a6k](http://talk.planktonportal.org/#/subjects/APK0008a6k) Check out this thread, the NO DATA issue is still happening (to me again at this moment and other users reported it too two days ago. I use the correct version and it appears when it signs me out during loading the first image on the Classification page.

[2015-06-21 10:42] yshish opened #86 "Displaying images problem.."
I classified a few images and when I clicked on the Discuss button to comment the image, another one loaded instead. So I checked the Recents on my profile to make sure which one should display. I figured out that I should have classified two other images after the one which showed to me.
[Screenshot of the Recents](https://lh3.googleusercontent.com/-KVYoBXpT4N4/VYaUSvlrKoI/AAAAAAAAIAo/jR2miquUobk

[2015-06-23 19:36] yshish opened #87 "Classification experiences on touch devices"
There were some users complaining about problems with the classification while using touch devices.

Here is my experience with Lenovo Yoga tablet B8080 (Chrome)

 - The image is bigger than the screen (you have to scroll down/up to see it) and cannot be zoomed out.
 - Scrolling the page down to finish the classification / marking organisms at the bottom is a bit complicated since it can be scroll

[2015-07-12 14:31] yshish commented on #78
The problems with switching locations still happen, but the behaviour is different.

I opened the home page in the new tab, switched location from MED to CAL and started classifying. The images which loaded were still from the MED but the category list switched for the CAL, so I could classify the CAL plankton only, the page said it is CAL but when I visited the Talk, I saw they actually were take

[2015-07-16 10:23] yshish opened #88 "The Talk doesn't load any posts/discussions.. not only PP"
Hey, this is what the Talk looks like (the same for the PW and probably other projects using this Talk)

![](https://lh3.googleusercontent.com/-fvV5sr1GkdA/VaeFq0hHA-I/AAAAAAAAIH4/Mru8vfJJpRg/s912-Ic42/ysh_2015-07-16.jpg)

[2015-07-16 10:29] DarrenMcRoy commented on #88
... It looks fine to me?

[2015-07-16 10:40] yshish commented on #88
Is this helpful anyhow?

https://lh3.googleusercontent.com/-mx3Lx0A5T7g/VaeJ7-pA9mI/AAAAAAAAIIo/l7zPS_KL4SQ/s0-Ic42/ysh_2015-07-16cons.jpg

[2015-07-16 11:34] yshish commented on #88
I tried what a user profile will look like, the page displayed blank, check the console:
https://lh3.googleusercontent.com/-ElRkg0UPxYA/VaeVwCgNsII/AAAAAAAAIJA/v5WPOGmDSNE/s912-Ic42/ysh_2015-07-16_13-26.jpg

After reloading the page displayed blank again and the console wrote these errors:
https://lh3.googleusercontent.com/-58aE37rEuUI/VaeV3_r4_bI/AAAAAAAAIJI/8r7cqu3PJJc/s0-Ic42/ysh_2015-07-16_13-

[2015-07-16 11:44] yshish commented on #88
The classification works. After clicking on the Discuss button I can get to the Image page which loads properly. From there I can get to the Talk page and display the recent image comments with the thumbnails and the Discussions below and the most popular hash tags but the Featured discussion (on the left side) don't load at all. Reloading the page displays the same as before.

When I open the Tal

[2015-07-19 13:59] yshish commented on #88
The problem is happening to me again, I haven't been able to load Talks on Plankton, Chimps, Penguins, Condors, Forests..today. I was trying a couple of hours ago and now again. Never mind whether I was signed out or signed in. Sometimes only the top menu appears and the rest of the page is blank; sometimes, it displays the headlines and list of the Featured discussions on the left side only.

Wou

[2015-07-19 14:02] yshish commented on #88
wow, it has started working!

[2015-07-19 14:10] yshish commented on #88
OK, it doesn't work each time I try it. And even if it loads, I'm unable to load older recent posts on the Talk but the last 12, so I can't reply all the questions from yesterday.

[2015-07-19 14:20] yshish commented on #88
This is one of the errors it reports:

*Security wrapper denied access to property _gaUserPrefs on privileged Javascript object. Support for exposing privileged objects to untrusted content via __exposedProps__ is being gradually removed - use WebIDL bindings or Components.utils.cloneInto instead. Note that only the first denied property access from a given global object will be reported.*

Helpfu

[2015-07-19 15:41] yshish commented on #88
Error screen shot:

![x](https://lh3.googleusercontent.com/-RgrP9EBI16M/VavEmCB2GII/AAAAAAAAIKA/NqaoWqzRPyA/s0-Ic42/ysh_2015-07-19_01.jpg)

[2015-07-19 15:50] yshish commented on #88
This one I made when the last 12 recent posts loaded but the it wasn't possible to load the older ones:

![x](https://lh3.googleusercontent.com/-BMQwjCmG_qc/VavGhBMsvtI/AAAAAAAAIKY/9rQz1xEMqDc/s0-Ic42/ysh_2015-07-19_02.jpg)

[2015-07-19 16:42] yshish commented on #88
Sometimes, my collections don't load when I want to add an image (doesn't matter whether I've just classified or entered it from the Talk).

![](https://lh3.googleusercontent.com/-5r9iPugXkKg/VavS4-M2AwI/AAAAAAAAILI/A1-AkDipJMs/s0-Ic42/ysh_2015-07-19_04.jpg)

[2015-07-20 12:12] chrissnyder commented on #88
A number of people reported problems with projects over the weekend, so I'm leaning on this being a symptom of a flaky API. I'll check what might have been going on and post back.

[2015-07-21 10:20] yshish commented on #88
It seems to be working without any problems now.

[2015-07-30 13:29] yshish opened #89 "Pointer echo"
[mkmcguir](http://talk.planktonportal.org/#/users/mkmcguir) reported getting an echo of the yellow pointer when she identifies an organism, and she also gets the coordinates (numbers displayed next to the mark).

They both appear at the same time. She assumes that the numbers are coordinates of the mark positions in the frame. They also appear at the same time. She can see only one cursor before m

[2015-08-03 11:36] chrislintott commented on #88
Closing for now, @chrissnyder.

[2015-08-03 11:36] #88 closed

[2015-08-07 15:17] yshish commented on #52
The problem with automatical signing out and getting *We've run out of data* message when returning to the Classification from the Talk still happens.

One user (motmot2x) is complaining about it every day, experiencing it several days in a row (she tried Chrome and Firefox, no difference), it is appearing her every few minutes and it is pretty annoying. She said, that when trying Chrome, after si

[2015-08-18 13:26] yshish commented on #52
User motmot2x wrote:

I'm afraid this may may be related with loosing volunteers. I asked how many users experience this issue. You may see, that everyone who has visited the Talk during the last few hours does: http://talk.planktonportal.org/#/boards/BPK0000002/discussions/DPK0000bgh?page=1&comment_id=55d329ba98e7eb0096000d5e and reloading doesn't always help, moreover, when a new user comes to t

[2015-08-18 19:17] srallen commented on #52
@yshish, I haven't been able to totally replicate what is being reported, however, I was able to recreate a case of the out of data message and made a change to hopefully eliminate it. Please let me know either way if you notice the behavior change for you or others. Thanks.

[2015-08-18 19:19] yshish commented on #52
@srallen Many thanks!! I'll let you know for sure, but will wait a few days to be sure in case it will seem to be working.

[2015-08-20 17:55] yshish commented on #52
I'm sorry to say so, but someone had the *No data* message again yesterday: http://talk.planktonportal.org/#/boards/BPK0000002/discussions/DPK0000bgh?page=2&comment_id=55d6112f17662700bd0031e3

[2015-08-21 14:51] yshish commented on #52
@srallen

It just happened to me too, even in a different situation: I was classifying plankton and wanted to check the previous image again, so I opened my Profile page in a new tab and while the page was loading, I was classifying the current image.. Suddenly, it jumped to the new tab to show me the *"It appears we've run out of data"* message there. It showed me as signed out, so none of my pre

[2015-08-21 23:31] yshish commented on #52
User motmot2x:

[2015-09-27 09:54] yshish opened #90 "Updated iPad iOS9 seems to break the classification"
User JoyKidd has just updated her iPad to iOS 9 today. Now marking is broken. The pop up menu has the marker flag as one of the category choices. The jellyfish category uses a symbol of a circle with 3 triangles in it. When she tries to id something, instead of dropping a marker flag, the program drops a tiny fish larva: cute but not helpful.

(And we have both experienced the *We're out of data*

[2015-09-27 15:02] yshish commented on #90
Here are some screenshots she made for you:

"One each from the CAL and the MED sets, with each one of the menus opened so the choices under all of the categories are visible at once. The third shows the light green larval fish stamp that is placed instead of the marker pin when a sample is identified."

Using a Safari browser on an iPad. Just upgraded to iOS 9.0.1.

Have a look at this issue plea

[2015-09-28 19:10] chrissnyder commented on #80
Following up on this, I deployed a new version of the translations. Pinging @yshish

I thought I caught everything, but missed the category hover popups when making a mark. @srallen could you look at this?

[2015-09-29 16:31] yshish commented on #80
Wow! I've just classified completely in Czech! Ó la lá. Děkuji vám pěkně převelice! :+1:

The only English texts I can see are the buttons Favorites and Recents here: [http://www.planktonportal.org/#/profile](http://www.planktonportal.org/#/profile) and then the text about Zooniverse which is at the bottom of all pages.

[2015-09-29 21:12] #80 closed

[2015-09-29 22:48] chrissnyder commented on #80
The general Zooniverse stuff will show up as missung when testing. Looks to be working on the live site now.

[2015-09-30 04:23] yshish commented on #80
Indeed.

[2015-10-02 15:36] srallen commented on #90
This appears to be uniquely an iOS9 issue in both the mobile versions of Safari and Chrome. Not sure what's going on yet, but when I have a moment, I'll see what I can do.

[2015-10-02 15:39] yshish commented on #90
Thanks, very appreciated.

[2015-10-06 09:31] jiho opened #92 "Wrong categories icons with Safari Version 9.0 (11601.1.56)"
Hi,

The SVG icons associated to each category are mixed up with the latest version of Safari. That happens in the field guide and in the classification interface (everywhere the icons are used actually). I'm guessing something is wrongly interpreted by Safari in the custom font. Chrome does not show the issue.

Examples attached:

![screen shot 2015-10-06 at 11 27 09](https://cloud.githubusercont

[2015-10-06 13:47] yshish commented on #92
It seems to be related to https://github.com/zooniverse/plankton/issues/90

[2015-10-06 14:28] srallen commented on #92
I regenerated the custom font and that seemed to fix it. I'm not sure why it broke to begin with. Apple must have changed something in iOS9/Safari 9.

[2015-10-06 14:28] #92 closed

[2015-10-06 14:28] srallen commented on #90
Regenerating the font fixed it.

[2015-10-06 14:28] #90 closed

[2015-11-09 16:54] yshish opened #93 "After marking organisms on the half side of the image, the pop-up appears wrongly on the right and then skips to the left"
When you mark a plankton anywhere in the right half of the image, the pop-up first appear on the right side of the organism and then skip to the left.
We need the pop-up to be displayed on the left (to be able to see it inside the image, not out), but it is unsolicited to see it on the right side first. (Hope it makes sense, better to try it by yourself ;))

The current behaviour with flashing pop

[2015-11-18 22:19] yshish commented on #31
It has just happened again, I got this image to classify, only a few minutes after I classified it before: http://talk.planktonportal.org/?&_ga=1.262422924.1606832519.1429734835#/subjects/APK0007a03

[2015-12-31 13:55] yshish opened #94 "Not allowed to place marks on the right side/bottom part of the image on touch devices"
While classifying plankton on tablet (Lenovo Yoga), when I click in the right or bottom part of the image, the mark disappears from the image (seems to jump behind the image margin) so I can't choose a category from the list, move the mark elsewhere nor cancel it. I'm afraid it is a problem of any touch devices since there were several volunteers reporting the problem of impossibility to mark obje

[2016-01-24 09:48] yshish commented on #31
User **suzeroo** reported a number if issues and one of them is to be getting images she has already classified:

Here is the list of other issues she's experiencing: http://talk.planktonportal.org/#/boards/BPK0000002/discussions/DPK0000ej9?page=1&comment_id=56a44c1aff903818de002028

[2016-01-28 10:14] camallen commented on #31
@srallen any ideas on dup image issues? Maybe the subject queue for the user is not emptying properly under certain conditions?

[2016-01-28 15:46] srallen commented on #31
@camallen I think this may be a confluence of a few different bugs happening at the same time. The out of data message folks are seeing is a bug that I haven't totally been able to track down and is extensively documented in #52. What I know is that it happens when volunteers use the return to classifying button in talk, they often see an out of data message instead of properly loading up the next

[2016-02-01 10:21] jiho commented on #31
Hi everyone,

I did a little more digging in the latest classifications dump from PlanktonPortal (received on 2016-01-31).

In this log are recorded, among other things:
- user name of the person doing the classification (`user_name`)
- url of the classified image (`image_url`)
- date and time of classification (`created_at`)
- `classification_id`: a unique string, for a given combination of the t

[2016-02-09 18:17] srallen commented on #31
@jiho I've been thinking about the current codebase and what to potentially work on, but am still having difficulty replicating either duplicates or the 'out of subjects' message. Regarding the duplicates, I am wondering: Are the duplicates from the same subject group or tend to be from the same subject group? Do we know for sure that there aren't duplicates in the original set of subject images?

[2016-02-10 11:53] jiho commented on #31
A "subject group" would be Mediterranean vs California? In that case, yes this is happening for both; more for the Med dataset since it launched but I am guessing this is also coming from the fact that is has been consulted more.

I recomputed the duplicates with both `image_url` (i.e. the image name on PP) and `image_name` (i.e. the original image name of the image we sent to PP) and the results

[2016-02-17 16:22] yshish commented on #31
Update on the problems of getting the Out of Data message and duplicate images by suzeroo

[2016-02-28 09:19] yshish commented on #74
@srallen User suzeroo reported getting images for the other location than she chose:

Here is the report: http://talk.planktonportal.org/#/boards/BPK0000002/discussions/DPK0000erq?page=1&comment_id=56d2ae36cc453d4cb00001d1
Could you look at it please? Thanks!

[2016-03-02 20:04] yshish commented on #74
The problems she's reported occur on five different computers she uses: two use Windows 7, one has Windows 10, all use Chrome.

[2016-05-01 09:30] yshish commented on #31
User suzeroo complains about getting duplicates together with Out of data message:

[2016-08-22 13:55] jiho commented on #58
Works now.

[2016-08-22 13:55] #58 closed

[2016-08-22 14:09] jiho commented on #52
There's a lot of stuff in this issue. I think we need to separate it in smaller issues. I see several pieces:

- logged in state in safari
- out of data issue
- visual bugs.

I'll open one for the logged state in Safari. @yshish, if you see that popping up again, could you open one for the out of data problem, referencing this thread as well as https://github.com/zooniverse/chimpandsee/issues/124

[2016-08-22 14:13] yshish commented on #52
OK. It doesn't happen to me lately. Will ask the other users who were experiencing that before. Thanks!

[2016-08-22 14:24] jiho opened #95 "Logged in state does not persist when going from planktonportal.org to talk.planktonportal.org"
#52 referenced many problems with logged in state in Safari. Most are solved. The only remaining one, which I notice with both the latest Safari in Chrome on OS X

1. sign out https://talk.planktonportal.org
2. sign out https://www.planktonportal.org
3. sign in https://www.planktonportal.org
4. go to https://www.planktonportal.org/#/classify
5. classify stuff and click `FINISHED`
6. Click `DISCUSS

[2016-08-22 14:25] jiho commented on #52
@DarrenMcRoy you can close this now. The new one is #95.

[2016-08-22 14:38] srallen commented on #52
Issue broken out into separate single issue items.

[2016-08-22 14:38] #52 closed

[2016-08-22 14:47] jiho commented on #31
The issue of an image being presented to the same person twice popped up again on the forums and @yshish reported it in an email to @camallen and myself.

I've inspected the data again and, indeed, repeated classifications still occur since Feb 1st, when I first compiled the report. The plots and conclusions are very similar so I won't post them again.

I think it is separate from the "out of data

[2016-08-22 14:59] jiho commented on #31
As of last Sunday, there were 11,449 such repeated classifications over a total of 1,885,657 classifications =  a small percentage but a non negligible amount still.

[2016-09-07 04:30] yshish commented on #95
@parrish  Not sure if a similar or a different problem but user AvastMH has just reported:

Here is the discussion: https://talk.planktonportal.org/#/boards/BPK0000002/discussions/DPK0000ej9?page=3&comment_id=57cf540209a94f3f080003a2

Shall I create a new issue or? Thanks

[2016-09-11 18:00] yshish commented on #95
@parrish @jiho

This problem is really alarming for me. We know about more volunteers visiting Plankton Portal from Penguin Watch via a link in a discussion on the PenguinW Talk who also got the "Out of Data" message. They left the project immediately because they thought the project is finished.

I am afraid it is a much more common problem than it may seem to be. There has been a very low activi

[2016-09-12 14:26] parrish commented on #95
I'm not sure why it would be showing out of data messages (I'll take a look at that).

As far as the login issue, the older sites no longer have single-sign-on.  You have to log into each site separately.

www.planktonportal.org and talk.planktonportal.org share a session, so signing into one, signs into the other.  I can't reproduce any issue with login there.

[2016-09-12 14:42] srallen commented on #95
@parrish I've looked into before and found it difficult to pinpoint: https://github.com/zooniverse/planktonportal/issues/31#issuecomment-176242516

[2016-12-26 10:39] yshish commented on #95
User suzeroo is having troubles to get any picture to classify when signed in:

suzeroo: (23 days ago)
*I've had a good long run of classifying, now getting the out of data messages again. I've tried using firefox instead of chrome, and have cleared the cache. Refreshing the screen doesn't help of course, because the out of data message must be answered before I can do anything else.*

*I click OK

[2016-12-26 10:47] yshish commented on #95
@eatyourgreens tried to run the classification on PP about two weeks ago, here is what he got:

*when I go to planktonportal.org I get a popup saying We're Out Of Data and the classify page is empty. I've never classified there so I can't have seen all the subjects.*

*Turns out I wasn't signed in. If I sign in, I can load subjects for California and Mediterranean.*

I have no troubles getting ima